*{
    margin:0px;
    padding:0px;
}
                              /*   Top Header   */
 .topheader{
    height:35px;
    background-color:grey;
    font-size:22px;
    color:white;
    padding-top:8px;
    padding-left:5px;
    padding-right:5px;
 }
 .left{
    float:left;
 }
 .right{
    float:right;
 }
                              /*    Header          */
 .header{
   height:125px;
   font-size: 18px;
 }

 .row{
  width:100%;
  padding:10px;
  padding-top: 25px;
 }

 .hpart1{
  width: 5%;
   float:left;
 }

 .header img{
  width:85px;
  height:85px;
 }

 .hpart2{
   width:50%;
   float:left;
   font-size:50px;
   color:green;
   font-family:impact;
   padding-top: 10px;
   padding-left: 25px;
 }

 .hpart3{
   width:15%;
   float:right;
   background-color: green;
   margin-right: 85px;
   text-align: center;
   padding:10px;
   border-radius:10px;
   margin-top: 15px;
 }

 .login{
   text-decoration:none;
   color:white;
   font-weight:bold;
 }

 .hpart3:hover{
  background-color: red;
 }
                                      /*    MenuBar   */
 .menubar{
  height:35px;
  background-color:grey;
  font-size:22px;
  color:white;
 }
 .menubar ul{
  width:100%;
  list-style-type:none;
 }
 .menubar ul li{
  float:left;
 }
 .menubar ul li a{
  display:block;
  text-decoration:none;
  color:black;
  font-size:18px;
  padding:10px;
  font-weight:bold;
  font-family:"Arial";
  padding-right: 50px;
  padding-left: 50px;
 }
 .menubar ul li a:hover{
  background-color: blue;
  color:white;
  border-radius:20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 4px;
 }
                                      /*   Body Part           */
  .bodypart{
    height:1850px;
    font-size:18px;
    //*overflow: hidden;*/
  }

  .sectitle{
    text-align:center;
    color:red;
    font-weight:normal;
    font-family:'calibri';
  }
  .courses{
    width:90%;
    margin:0 auto auto;
  }
  .coursediv{
    width:20%;
    height:350px;
    border:1px red solid;
    border-radius:10px;
    box-shadow: 3px 6px red;
    float: left;
    margin:3% 2%;
  }

  .coursediv img{
    width:100%;
    height:70%;
    border-radius:10px;
  }

  .coursediv a{
    text-decoration:none;
    width:100%;
    color:black;
    font-size:25px;
    padding-left:70px;
  }
   
 .success img{
  width: 250px;
  height :380px;
  margin-right:30px;
 }

 .about{
  width:80%;
  margin: 0 auto auto;
  text-align:center;
 }
.h{
  color:blue;
}
                                      /*     Footer           */
 .footer{
  height:450px;
  background-color:black;
  color:yellow;
  padding:30px;
 }
 .fpart1{
  width:30%;
  float:left;
 }
 .fpart2{
  width:30%;
  float:left;
 }

 .fpart3{
  width:40%;
  float:left;
 }

 .fpart1 a{
  text-decoration: none;
  color: white;
 }
 .fpart2 a{
  text-decoration: none;
  color: white;
 }
 .fpart3 a{
  text-decoration: none;
  color:white;
 }

 .footerform{
  width:370px;
 }

 .btn{
  background-color: grey;
  color:white;
 }

 .head{
  font-size: 25px;
 }
        /* login form */
.loginform{
  margin:0 auto auto;
  width:30%;
  margin-bottom:100px;
  text-align:center;
}
.err{
  color:red;
  text-align:center;
  font-family: 'calibri';
}
.enroll{
  background-color:green;
  color:white;
  padding:3px;
  border-radius:10px;
  padding-left:10px;
  padding-right:10px;
  margin-left:70px;
  margin-bottom:10px;

}
.enroll:hover{
  background-color: blue;
  color: white;
}
.note{
  background-color:yellow;
  color:red;
  font-family:'calibri';
  text-align:center;
  padding:10px;
  font-size:25px;
  border:1px dashed red;
}
